/* * {
  font-family: "Hack NF Mono";
} */

/* Hack NF Regular */
@font-face {
  font-family: "Hack NF";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFont-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFont-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFont-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFont-BoldItalic.ttf")
    format("truetype");
}

/* Hack NF Mono */
@font-face {
  font-family: "Hack NF Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontMono-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontMono-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontMono-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontMono-BoldItalic.ttf")
    format("truetype");
}

/* Hack NF Propo */
@font-face {
  font-family: "Hack NF Propo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontPropo-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF Propo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontPropo-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF Propo";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontPropo-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hack NF Propo";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/HackNerdFont/HackNerdFontPropo-BoldItalic.ttf")
    format("truetype");
}
