@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    font-family: "Hack NF Mono";
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--twc-light-background) / 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--twc-light-foreground) / 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--twc-light-yellow) / 0.8);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: hsl(var(--twc-dark-background) / 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--twc-dark-foreground) / 0.8);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--twc-dark-yellow) / 0.8);
  }
}

@layer components {
  body {
    @apply bg-light-background dark:bg-dark-background;
  }
}
